.products {
    width: 100%;
    min-height: calc(100vh - 100px);
}

.products .header-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-right: 25px;
}

.products .header-wrapper .collection-select{
    padding-left:15px;
    width: 250px;
}

.products .header-wrapper h1 {
    font-weight: 300;
    padding-left: 30px;
}

.products .list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.products .list .item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: calc(25% - 30px);
    padding: 15px;
    height: 500px;
}

.products .list .item a {
    display: flex;
    flex : 1;
    flex-direction: column;
    width: 100%;
    padding: 0px 15px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.products .list .item a .item-wrapper {
    display: flex;
    flex-direction: column;
    padding: 15px;
    height: 100%;
    transition: box-shadow 0.3s;
}

.products .list .item a .item-wrapper .thumbnail{
    display: flex;
    flex : 6;
    background-color: white;
    border-radius: 5px;
    overflow: hidden;
}

.products .list .item a .item-wrapper .thumbnail img {
    flex:1;
    max-width: 100%;
    object-fit: cover;
}

.products .list .item a .item-wrapper:hover {
    box-shadow: 3px 3px 15px #eeeeee;
}

.products .list .item a .item-wrapper .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex : 1;
    padding: 15px 0px;
    
}

.products .list .item a .item-wrapper .info .name {
    font-size: 0.9em;
}

.products .list .item a .item-wrapper .info .price {
    padding: 5px 0px;
    font-weight: 500;
}

@media screen and (max-width: 860px) {
    .products .list .item {
        width: calc(33.33333% - 30px);
    }    
}


@media screen and (max-width: 651px) {
    .products .list .item {
        width: calc(50% - 30px);
    }    
}

@media screen and (max-width: 380px) {
    .products .list .item {
        width: calc(100% - 30px);
    }    
}
