.home .widget-bestseller{
    width: 100%;
    /* padding: 30px 0px; */
}

.home .widget-bestseller h1 {
    font-size : 30px;
    font-weight: 300;
    margin-bottom: 35px;
    border-left: 3px solid black;
    padding-left: 15px;
}

.home .widget-bestseller a {
    text-decoration: none;
}

.home .widget-bestseller a .product-grid{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    transition: 0.3s opacity;
    color: black;
}

.home .widget-bestseller a .product-grid:hover {
    opacity: 0.6;
}

.home .widget-bestseller a .product-grid img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.home .widget-bestseller a .product-grid .title{
    margin-top: 15px;
    font-size: 16px;
}

.home .widget-bestseller a .product-grid .price{
    margin-top: 10px;
    font-weight: 300;
    font-size: 16px;
}