* {
    font-size: 16px;
}

.swal-button:not([disabled]){
    background:  #FF5757;
    padding:10px 50px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 10px

}
.swal-button:not([disabled]):hover {
    background: white;
    color: #FF5757;
    padding:10px 50px;
    font-size: 20px;
    font-weight: 300;
}

.swal-content{
    margin-top:0;
    padding:0;

}
.swal-footer{
    text-align: center;
}