.profile {
    display: flex;
    flex : 1;
    width : 100%;
    min-height: 100vh;
    justify-content: center;
}

.profile .profile-wrapper {
    display: flex;
    flex : 1;
    width : 100%;
    min-height: 100vh;
    max-width: 1200px;
    flex-direction: column;
    min-width: 300px;
}

.profile .profile-wrapper .data-group {
    padding: 10px 0px;
}

.profile .profile-wrapper .data-group label {
    font-weight: 900;
}

.profile .profile-wrapper .data-group :nth-child(2){
    font-size: 18px;
}



.profile .profile-wrapper button {
    margin-top: 15px;
    display: flex;
    background-color: black;
    color: white;
    border: none;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    cursor: pointer;
}