.blogs {
    width: 100%;
    min-height: calc(100vh - 100px);
    
}

.blogs h1 {
    font-weight: 300;
    padding-left: 30px;
}

.blogs .list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.blogs .list .blog {
    display: flex;
    flex : 1;
    flex-direction: row;
    /* max-width: 325px; */
}

.blogs .list .blog a {
    display: flex;
    flex-direction: column;
    min-width: 200px;
    width: 100%;
    padding: 0px 15px;
    min-height: 200px;
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.blogs .list .blog a .blog-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 250px;
    padding: 30px 15px;
    height: 100%;
    transition: box-shadow 0.3s;
}

.blogs .list .blog a .blog-wrapper .thumbnail{
    display: flex;
    flex : 2;
    background-color: #FAFAFA;
    border-radius: 5px;
    min-width: 300px;
    overflow: hidden;
}

.blogs .list .blog a .blog-wrapper .thumbnail img {
    flex:1;
    max-width: 100%;
    height: 220px;
    object-fit: cover;
}

.blogs .list .blog a .blog-wrapper:hover {
    box-shadow: 0px 3px 15px #EFEFEF;
}

.blogs .list .blog a .blog-wrapper .info {
    display: flex;
    flex-direction: column;
    flex : 5;
    min-width: 200px;
    padding: 30px;
}

.blogs .list .blog a .blog-wrapper .info .title {
    font-size: 25px;
    padding-bottom: 10px;
}

.blogs .list .blog a .blog-wrapper .info .description {
    padding: 10px 0px;
    font-size: 16px;
    color: #333333;
}

.blogs .list .blog a .blog-wrapper .info .time {
    padding: 10px 0px;
    font-size: 14px;
    color: #333333;
}