.product-detail {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 50px 0px;
    min-height: calc(100vh - 100px);
}

.product-detail .rows {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.product-detail .rows .back-button-wrapper{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    padding: 0px 30px 50px 30px;
    max-width: calc(100% - 60px);
}

.product-detail .rows .back-button-wrapper a {
    text-decoration: none;
    color: black;
    transition: 0.3s opacity;
}

.product-detail .rows .back-button-wrapper a:hover{
    opacity: 0.5;
}

.product-detail .rows .back-button-wrapper i{
    margin-right: 10px;
}

.product-detail .rows .upper-row {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 30px;
    max-width: calc(100% - 60px);
}



.product-detail .rows .upper-row .slide-container {
    width: 100%;
    margin: auto;
}

.product-detail .rows .upper-row h3 {
    text-align: center;
}

.product-detail .rows .upper-row .each-slide > div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 500px;
    flex-wrap: wrap;
}

.product-detail .rows .upper-row .each-slide span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.product-detail .rows .upper-row .each-fade {
    display: flex;
}

.product-detail .rows .upper-row .each-fade .image-container {
    width: 75%;
    overflow: hidden;
}

.product-detail .rows .upper-row .each-fade .image-container img {
    width: 100%;
}

.product-detail .rows .upper-row .each-fade h2 {
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: #adceed;
    flex-wrap: wrap;
}




.product-detail .rows .lower-row {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 30px;
    width: calc(100% - 90px);
    min-width: 200px;
    word-wrap: break-word;
}

.product-detail .rows .lower-row .description {
    flex : 3;
    min-width: 300px;
}

.product-detail .rows .lower-row .description h1 {
    font-weight: 300;
}

.product-detail .rows .lower-row .description .price{
    font-size: 25px;
    font-weight: 300;
}

.product-detail .rows .lower-row .description .price span{
    font-size: 15px;
    color: #f85353;
    margin-left: 10px;
}

.product-detail .rows .lower-row .description p {
    line-height: 200%;
    word-wrap: break-word;
}

.product-detail .rows .lower-row .description .tags {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product-detail .rows .lower-row .description .tags .tag {
    margin-top: 10px;
    margin-right: 10px;
    padding: 8px 20px;
    font-size: 0.7em;
    font-weight: 500;
    background-color: #DEDEDE;
    border-radius: 3px;
}

.product-detail .rows .lower-row .variants {
    flex : 2;
    min-width: 300px;
} 

.product-detail .rows .lower-row .variants h4 {
    font-weight: 400;
}

.product-detail .rows .lower-row .variants .list {
    display: flex;
    flex-direction: column;
}

.product-detail .rows .lower-row .variants .list .items {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex : 1;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.product-detail .rows .lower-row .variants .list .items .item {
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 2px;
    background-color: transparent;
    border: 1px solid black;
    margin-right: 15px;
    transition: background-color 0.3s;
    cursor: pointer;
}

.product-detail .rows .lower-row .variants .list .items .item.selected,
.product-detail .rows .lower-row .variants .list .items .item:hover{
    background-color: var(--theme);
    color: white;
}

.product-detail .rows .lower-row .add-to-cart{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--theme);
    color: white;
    width: 100%;
    border: none;
    border-radius: 3px;
    padding: 15px;
    cursor: pointer;
    font-size: 1em;
    transition: opacity 0.3s;
    margin-top: 50px;
    flex-wrap: wrap;
}

.product-detail .rows .lower-row .add-to-cart:hover,
.product-detail .rows .lower-row .add-to-cart:disabled{
    opacity: 0.7;
}

.product-detail .rows .lower-row .add-to-cart:disabled{
    cursor:not-allowed;
}

@media screen and (max-width: 651px) {
    .product-detail .rows .lower-row .gap{
        display: none;
    }
}