.page {
    width : 100%;
    min-height: (100vh - 100px);
}


.page .content {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 30px;
}

.page .content  h1 {
    font-weight: 300;
}
